.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 1080px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
.container{
  display: flex;
  flex-wrap: wrap;
}

.container > h2,
#program-buttons{
  width: 100%;
}


#program-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-map{
  flex: 1 1 0;
}

.container-info{
  flex: 0 0 360px; 
}



.container-map {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.container-info {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.course-details {
  display: none;
}